.btn-krb{
    text-decoration: none;
    padding: 10px 20px;

}

.btn-krb-effect-bot-bor{
    position: relative;
}

.btn-krb-effect-bot-bor::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    bottom: 0%; left: 50%;
    background: red;
    border-radius: 10px;
    transition: all 500ms ease;
}

.btn-krb-effect-bot-bor:hover::after{
    left: 0%;
    width: 100%;
}

.search-bar{
    width: 100%;
    margin: auto;
    /* margin-top: 35px;  */
    padding: 5px;
}

.search-bar input[type="text"]{
    padding: 10px 0px 10px 10px;
    background: rgb(238, 236, 236);
    width: 85%;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search-bar input[type="text"]:focus,button:focus{
    outline: none;
}

.search-bar button{
    padding: 10px 10px 10px 0;
    background: rgb(238, 236, 236);
    border: none;
    width: 10%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: -5px;
}

.search-bar button:hover{
    cursor: pointer;
}