/* 
    Class Selector In Here : 
     .krb-page , .krb-side-menu-bar , .scroll-available, .krb-frame-logo, .krb-menu-list                          
     .krb-footer-side-menu-bar, .krb-page-content, .krb-side-top-bar 
    
    ID Selector In Here :
        #krb-index-page

*/
/* Import fonts from font.css file */
@import url(../../lib/fonts/font/font.css);

/* import variables css file */
@import url(./partials/_variables.css);

/* import global css file */
@import url(./partials/_global.css);

@font-face {
    font-family: 'icomoon';
    src        : url("../../lib/fonts/icomoon/icomoon.eot?srf3rx");
    src        : url("../../lib/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../../lib/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../../lib/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../../lib/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style : normal;
}


* {
    padding: 0;
    margin : 0;
}

.main_area{
    background: rgb(228, 225, 225);
}

/* start navigation */

#krb-dev .header_area .main-menu .nav-item{
    color: white;
}

#krb-dev .header_area .main-menu .nav-item .nav-link{
    font: normal bold 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.15rem 0.5rem;
    color:  var(--title-white-clr);
}

#krb-dev .header_area .main-menu .nav .active a{
    background: var(--title-white-clr);
    -webkit-background-clip    : text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#krb-dev .header_area .main-menu .nav a:hover{
    background: var(--text-grey-clr);
    -webkit-background-clip    : text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* end   navogatopm */