/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .krb-page .krb-page-content{
        width: 100%;
        left: 0;
    }

    .krb-page .krb-side-menu-bar{
        display: none;
    }

    .krb-page .krb-page-content .krb-side-top-bar{
        width: 100%;
        left: 0;
        height: 50px;
    }

    #krb-index-page .krb-side-top-bar{
        display: inline;
    }

    .krb-side-top-bar #btn-menu {
        display: inline-block;
    }
   .menu-responsive{
        display: none;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .krb-page .krb-page-content{
        width: 100%;
        left: 0;
    }

    .krb-page .krb-side-menu-bar{
        display: none;
    }

    .krb-page .krb-page-content .krb-side-top-bar{
        width: 100%;
        left: 0;
        height: 50px;
    }

    #krb-index-page .krb-side-top-bar{
        display: inline;
    }

    .krb-side-top-bar #btn-menu {
        display: inline-block;
    }

   .menu-responsive{
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .krb-page .krb-page-content{
        width: 100%;
        left: 0;
    }

    .krb-page .krb-side-menu-bar{
        display: none;
    }

    .krb-page .krb-page-content .krb-side-top-bar{
        width: 100%;
        left: 0;
        height: 50px;
    }

    #krb-index-page .krb-side-top-bar{
        display: inline;
    }

    .krb-side-top-bar #btn-menu {
        display: inline-block;
    }
   .menu-responsive{
        display: none;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .krb-page .krb-page-content{
        width: 80%;
        left: 20%;
    }

    .krb-page .krb-side-menu-bar{
        display: block;
        width: 20%;
    }

    .krb-page .krb-page-content .krb-side-top-bar{
        width: 80%;
        left: 20%;
    }

   .menu-responsive{
        display: inline;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .krb-page .krb-page-content{
        width: 80%;
        left: 20%;
    }

    .krb-page .krb-side-menu-bar{
        display: block;
        width: 20%;
    }

    .krb-page .krb-page-content .krb-side-top-bar{
        width: 80%;
        left: 20%;
    }

   .menu-responsive{
        display: inline;
    }
 }